<!DOCTYPE html>
<html lang="en" ng-app="Voice" ng-controller="Voice"  ng-keyup="keyPress($event, currentScreen)">
<head>
	<title>eyeHome Voice</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/foursides.css">

	<script src="javascripts/responsivevoice.js"></script>
	<script src="http://code.jquery.com/jquery-git2.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js"></script>
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
	<script src="javascripts/Voice.js"></script>
	<script>

    function searchKeyPress(e)
    {
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode == 13)
        {
            document.getElementById('btnSearch').click();
        }
    }

        //Populate voice selection dropdown
        var voicelist = responsiveVoice.getVoices();

        var vselect = $("#voiceselection");

        $.each(voicelist, function() {
                vselect.append($("<option />").val(this.name).text(this.name));
        });
	</script>
</head>
<body id="voice-body">

<!--<textarea id="text" cols="45" rows="3">Hello world</textarea>

<select id="voiceselection"></select> 

<input 
  id="speak"
  onkeydown="if (event.keyCode == 13) document.getElementById('speak').click();"
  onclick="console.log($('#voiceselection').val());" 
  type="button" 
  value="Play" 
/>
 -->

<div id="screen1" ng-show="currentScreen == 1">
	<div class='rectangleLeft' ng-click="writeMessage()" id="rl"> <!-- should open keyboard-->
		<h4>New Message</h4>
		<div class="progress" id="rlp"></div>
	</div>
	<div class='rectangleTop' ng-click="playAlert()" id="rt">
		<h4><span style="color: red;">Alert:</span> "I need help"</h4>
		<div class="progress" id="rtp"></div>
	</div>
	<div class='rectangleRight' ng-click="chooseMessage()" id="rr">
		<h4>Saved Messages</h4>
		<div class="progress" id="rrp"></div>
	</div>
	<div class='rectangleBottom' ng-click="" id="rb"><!-- doesn't do anything right now-->
		<h4></h4>
		<div class="progress" id="rbp"></div>
	</div>
</div>

<div id="screen2" ng-show="currentScreen == 2">
	<div class='rectangleLeft' ng-click="messageSelected(0)" id="rl"> 
		<h4>{{messages[currentPage*3 + 0]}}</h4>
		<div class="progress" id="rlp"></div>
	</div>
	<div class='rectangleTop' ng-click="messageSelected(1)" id="rt">
		<h4>{{messages[currentPage*3 + 1]}}</h4>
		<div class="progress" id="rtp"></div>
	</div>
	<div class='rectangleRight' ng-click="messageSelected(2)" id="rr">
		<h4>{{messages[currentPage*3 + 2]}}</h4>
		<div class="progress" id="rrp"></div>
	</div>
	<div class='rectangleBottom' ng-click="nextPage()" id="rb">
		<h4>More</h4>
		<div class="progress" id="rbp"></div>
	</div>
</div>

<div id="voice-center" class="row clearfix">
	<div id="screen2-messages" ng-show="currentScreen == 2">
		<div class="greeting" class="row">
			<div class="col-lg-12">
				Messages:<br/>&nbsp;
			</div>
		</div>
		<div class="col-lg-12">
			<div class="list" id="voice-message" ng-bind-html="arrayToString(messages)">
				
			</div>
		</div>
	</div>
</div>	
</body>

